html, body {

    height:100%;
    margin:0;
    padding:0;

}


body {

    background:#0d0d0d;

    color:#00ff00;

    font-family:'Courier New', monospace;

    font-size:30px;

    padding:10px;

    box-sizing:border-box;

    text-shadow:
    0 0 5px #00ff00;

}




.header {

    display:flex;

    flex-direction:column;

    align-items:center;

    text-align:center;

    width:100%;

    border-bottom:
    1px solid #00ff00;

    padding-bottom:40px;

    margin-bottom: 40px;
}



.seal {


    width:50%;

    

    object-fit:contain;


    filter:
    grayscale(100%)
    contrast(140%)
    brightness(60%)
    sepia(100%)
    hue-rotate(70deg)
    saturate(600%);


    margin-bottom:15px;

}




.header p {


    margin:0;

    white-space:pre-line;

    line-height:1.5;
    text-align: justify;


}





.interface {


    display:flex;

    flex-direction:column;


    width:100%;

    height:calc(100vh - 250px);


    margin-top:15px;


}





.panel {


    width:100%;

    box-sizing:border-box;


    border:
    1px solid #00ff00;


    padding:15px;


}




#file-tree {


    flex:1;


    overflow-y:auto;


}





#content {


    flex:1;

    overflow-y:auto;


}





button,
input {


    width:100%;


    box-sizing:border-box;


    background:#0d0d0d;


    color:#00ff00;


    border:
    1px solid #00ff00;


    font-family:'Courier New', monospace;


    padding:10px;


    margin:5px 0;


}





button:hover {


    background:#003300;

}





.hidden {

    display:none;

}




h2 {


    border-bottom:
    1px solid #00ff00;

    padding-bottom:10px;


}

.header-data-sub{
    width: fit-content;
    margin: 0 auto;
}

h1 {
    font-size:2rem;
}


h2 {
    font-size:1.5rem;
}


button,
input {

    font-size:1.4rem;
    padding:12px;
}
p {

    font-size:1.3rem;



}

.locked-file {

    color:#666;

    border-color:#555;

    text-shadow:none;

}


.locked-file:hover {

    background:#222;

    color:#999;

    box-shadow:none;

}



.unlocked-file {

    color:#00ff00;

}


@keyframes flashRed {
 0% { color: #00ff00; transform: translateX(0); border: 1px solid #00ff00;}
  10% { color: #ff0000; transform: translateX(-5px); border: 1px solid #ff0000;}
  20% { color: #ff0000; transform: translateX(5px); border: 1px solid #ff0000;}
  30% { color: #ff0000; transform: translateX(-5px);border: 1px solid #ff0000; }
  40% { color: #ff0000; transform: translateX(5px); border: 1px solid #ff0000;}
  50% { color: #ff0000; transform: translateX(-3px);border: 1px solid #ff0000; }
  60% { color: #ff0000; transform: translateX(3px); border: 1px solid #ff0000;}
  70% { color: #ff0000; transform: translateX(-2px); border: 1px solid #ff0000;}
  80% { color: #ff0000; transform: translateX(2px);border: 1px solid #ff0000; }
  90% { color: #ff0000; transform: translateX(-1px); border: 1px solid #ff0000;}
  100% { color: #00ff00; transform: translateX(0); border: 1px solid #00ff00;}
}

.input-error {

    animation: flashRed 0.7s ease-in-out;

}
input:focus {

    background-color:#0d0d0d;

    color:#00ff00;

    font-family:'Courier New', monospace;

    border:1px solid #00ff00;

    outline:none;

    box-shadow:
    0 0 5px #00ff00;

}