html,body{

margin:0;
height:100%;

}


body{


background:#0d0d0d;

color:#00ff00;

font-family:
'Courier New',
monospace;


padding:20px;


text-shadow:
0 0 5px #00ff00;


}



.header{

display:flex;

gap:40px;

align-items:center;

border-bottom:
1px solid #00ff00;

padding-bottom:20px;


}


.seal{

width:180px;

height:180px;


filter:
grayscale(100%)
contrast(140%)
brightness(60%)
sepia(100%)
hue-rotate(70deg)
saturate(600%);



}



.interface{

display:flex;

margin-top:30px;

}



.panel{


border:
1px solid #00ff00;


padding:20px;


width:50%;


min-height:400px;


}



button,input{


background:#0d0d0d;


border:
1px solid #00ff00;


color:#00ff00;


font-family:
Courier New;


padding:10px;


margin:5px;



}



button:hover{


background:#003300;


box-shadow:
0 0 10px #00ff00;


}



.hidden{

display:none;

}



#files button{


display:block;

width:100%;


text-align:left;


}



.lock{


margin-top:40px;


border-top:
1px solid #00ff00;


padding-top:20px;


}